@charset "utf-8";

/* メニュー開閉ボタン
------------------------------- */
.hamburger-menu__hamburger-button {
  z-index: 200;
  background: rgba(0, 0, 0, 0.6);
}
.hamburger-menu__cross-button {
  z-index: 100;
}
.hamburger-menu__hamburger-button,
.hamburger-menu__cross-button {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 20px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  img {
    width: 50%;
    height: 50%;
  }
}

/* メニュー
------------------------------- */
.hamburger-menu__nav {
  &,
  ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  padding: 0 10%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    list-style: none;
    + li {
      border-top: solid 1px #fff;
    }
    a {
      padding: 10px 0;
      width: 80vw;
      color: #fff;
      text-decoration: none;
      display: block;
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

/* フェードインフェードアウトtransition
------------------------------- */
.hamburger-menu__hamburger-button,
.hamburger-menu__cross-button,
.hamburger-menu__nav {
  opacity: 0;
  transition: 0.8s;
  &.is-hg-active {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  /* メニュー開閉ボタン
    ------------------------------- */
  .hamburger-menu__hamburger-button,
  .hamburger-menu__cross-button {
    top: 40px;
    right: 40px;
  }

  /* メニュー
    ------------------------------- */
  .hamburger-menu__nav li a {
    padding: 12px 100px;
    width: auto;
  }
}
