/* PC用表示 */
@media screen and (min-width: $breakPoint) {
  /* メニュー開閉ボタン simpleバージョン用
    ------------------------------- */
  .hamburger-menu__hamburger-button,
  .hamburger-menu__cross-button {
    top: $pc-display-space;
    right: $pc-display-space;
  }

  /* メニュー simpleバージョン用
    ------------------------------- */
  .hamburger-menu__nav li a {
    padding: 12px 100px;
    width: auto;
  }

  /* メニュー hdバージョン用
    ------------------------------- */
  .only-hd.hamburger-menu__nav {
    opacity: 1;
    padding: 0;
    width: 100vw;
    height: auto;
    display: block;
    ul {
      display: flex;
      li {
        flex: 1;
        + li {
          border: {
            left: $white-border;
            top: none;
          }
        }
        a {
          padding: 0;
          width: auto;
          height: 60px;
          /* PC表示の文字サイズ */
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }
}

/* PCの広いスクリーンで表示した際の中央固定 */
@media screen and (min-width: $wide-screen) {
  /* メニュー hdバージョン用
    ------------------------------- */
  .only-hd.hamburger-menu__nav ul {
    margin: auto;
    width: $wide-screen;
    border: {
      left: $white-border;
      right: $white-border;
    }
  }
}
